.apx{
    background-color: white;
    width: max-content;
    height: 245px;
    margin: 25px;
    border-radius: 10px;
    padding: 5px;
    transition: ease-in-out;
    transition: .2s;
    
  
    cursor: pointer;
  }
  
  .apx:hover{
  
    transform: scale(1.02);
  }
  
  .apx button{
    background-color: rgb(0, 119, 255);
    width: 100%;
    border-radius: 2px;
    color: white;
  }
  
  .apx img{
    min-width: 150px;
    max-width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
  
  }
  
  .text{
    display: flex;
    color: rgb(92, 91, 91);
    font-size: small;
    margin-bottom: 7px;
    justify-content: space-between;
    font-size: medium;
  }

  .tit{
    font-size: larger;
    font-weight: bold;
  }
  
  @media only screen and (max-width: 600px) {
   
  .apx{
    width: 150px;
    height: 230px;
  }
  
  .apx img{
    width: 100px;
    height: 100px;
  }
  
  
  }